body {
  margin: 0;
  fontfamily: "InterRegular !important" as any, "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  fontfamily: "InterRegular !important" as any;
}
